*{
    margin: 0;
    padding: 0;
}
.swiper{
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-wrapper{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
}
.swiper-wrapper img{
    width: 100%;
    height: 100%;
}
@media (max-width:799px) {
   .swiper{
    width: 100%;
   } 
}
@media (max-width:400px){
    .swiper{
        height: 100vh;
    }
}